/* Contact form section */
.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: #f7f7f7;
  }
  
  .contact h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  
  .contact span {
    color: #00a0d1;
  }
  
  .contact p {
    font-size: 18px;
    margin-bottom: 40px;
    line-height: 1.6;
  }
  
  .contact form {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  
  .contact input,
  .contact textarea {
    padding: 15px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #f1f1f1;
    font-size: 18px;
  }
  
  .contact textarea {
    height: 150px;
  }
  
  .contact input[type="submit"] {
    background-color: #00a0d1;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .contact input[type="submit"]:hover {
    background-color: #0086b3;
  }
  
  .contact .My-image img {
    width: 45%;
    height: auto;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
  }
  
  .contact .My-image img:hover {
    transform: scale(1.1);
  }
  
  @media (max-width: 768px) {
    .contact {
      flex-direction: column;
      padding: 20px;
    }
  
    .contact h1 {
      font-size: 30px;
    }
  
    .contact form {
      width: 100%;
    }
  
    .contact .My-image img {
      width: 70%;
      margin-top: 40px;
    }
    

  }
  