/* packages card */
.PackagesBody {
  color: #3b577d;
  height: 800px;
  width: 99%;
  background-color: #fff;
  padding-top: 85px;
  padding-left: 20px;
}
.PcardContainer {
  display: flex !important;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.Pcard {
  margin-top: 20px;
  text-align: center !important;
  width: 320px;
  height: 200px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 20px;
}

.Pcard-header {
  background-color: #3b577d;
  padding: 5px 10px;
  border-bottom: 1px solid #ddd;
}

.Pcard-header p {
  color: white;
  margin: 0;
  font-size: 20px;
  font-weight: 500;
}

.Pcard-body {
  padding: 10px;
}
.Pcard-body table {
  text-align: left;
}

.Pcard-body p {
  margin: 0;
  font-size: 80px;
  line-height: 1.5;
}
/* Book-btn */
.BookBtn a {
  color: white !important;
}
.BookBtn button {
  padding: 2px;
  border-radius: 5px;
  background-color: #3b577d;
  border: none;
  color: white !important;
}
.BookBtn {
  align-items: right;
  display: flex !important;
  justify-content: right;
  justify-items: right;
}
